<!DOCTYPE HTML>
<html ng-app="reres">
<head>
    <meta charset="UTF-8">
    <title>ReRes Pro Options</title>
    <link rel="icon" href="icon.png" mce_href="icon.png" type=”image/x-icon”>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/options.css"/>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/options.js"></script>
</head>
<body ng-controller="mapListCtrl">
<div class="navbar navbar-inverse navbar-fixed-top top">
    <div class="container">
        <div class="btnBox">
            <span class="h2"><a title="view in the github" href="https://github.com/hanan198501/ReRes" target="_blank">ReRes Pro</a></span>
            <small> &nbsp;&nbsp;&nbsp;&nbsp;Change the response of the request.</small>
            <button class="btn btn-primary fr" ng-click="export()">导出</button>
            <div class="file fr"><button class="btn btn-primary">导入</button><input type="file" id="jsonFile"/></div>
            <button class="btn btn-primary fr" ng-click="addRule()"> + </button>
        </div>
    </div>
</div>
<div class="container">
    <div style="display:{{editDisplay}};" class="editBox">
        <button type="button" class="close" aria-hidden="true" ng-click="hideEditBox()">&times;</button>
        <div class="errorMsg">{{inputError}}</div>
        <div class="form-group">
            <label for="name">Rule Name:</label>
            <input type="text" class="form-control" id="name" ng-model="curRule.name" placeholder="给规则起个名字"/>
        </div>
        <div class="form-group">
            <label for="req">If URL match:</label>
            <input type="text" class="form-control" id="req" ng-model="curRule.req"/>
        </div>
        <div class="form-group">
            <label for="res">Response:</label>
            <input type="text" class="form-control" id="res" ng-model="curRule.res"/>
        </div>
        <div class="form-group">
            <label for="group">Group:</label>
            <input type="text" class="form-control" id="group" ng-model="curRule.group"/>
        </div>
        <button class="btn-block btn btn-primary" ng-click="saveRule()">保存</button>
    </div>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>启</th>
                <th>规则名称</th>
                <th>URL匹配</th>
                <th>响应地址</th>
                <th>分组</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="rule in maps">
                <td class="text-center" style="width: 50px;">
                    <input type="checkbox" ng-model="rule.checked"/>
                </td>
                <td style="width: 200px;">
                    <div class="rule-name" title="{{rule.name}}">{{rule.name}}</div>
                </td>
                <td>
                    <div class="rule-pattern" title="{{rule.req}}">{{rule.req}}</div>
                </td>
                <td>
                    <div class="rule-target" title="{{rule.res}}">{{rule.res}}</div>
                </td>
                <td style="width: 120px;">{{rule.group || '默认分组'}}</td>
                <td class="text-center" style="width: 120px;">
                    <div class="btn-group">
                        <button class="btn btn-xs btn-primary" ng-click="edit(rule)" title="编辑">
                            ✏️ 编辑
                        </button>
                        <button class="btn btn-xs btn-info" ng-click="cloneRule(rule)" title="克隆">
                            📋 克隆
                        </button>
                        <button class="btn btn-xs btn-danger" ng-click="removeUrl(rule)" title="删除">
                            🗑️ 删除
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>